.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.image-container-top {
  width: 100%;
}

.top-bar {
  width: 100%;
}

.frame1 {
  width: 100%;
}

.waitorder {
  margin-top: -3vh;
}

.stepbar {
  margin-top: 6vh;
  margin-left: 3vw;
}

.order-text-container {
  margin-top: 0;
}

.maincomponent {
  margin-top: 3vh;
}

.lowbar {
  width: 100%;
  margin-bottom: 0;
}
